@{
    ViewData["Title"] = "Public NewsPaper - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>About Page</h4>

<p>This will turn into a site where users can log in to post their own stories to share.</p>

@Html.ActionLink("Admin Page", "Index", "Stories")