@{
    ViewData["Title"] = "Public NewsPaper - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Contact Page</h4>

<p>Feel free to contact me and help me out!</p>

@Html.ActionLink("Admin Page", "Index", "Stories")